<!DOCTYPE html>
<html>
<head>
  <title>Restbook</title>
  <%= stylesheet_link_tag    "restbook/application" %>
  <%= javascript_include_tag "restbook/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
